<!doctype html>
<head>
  <title>Variety List</title>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
  <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
</head>
<body>
  <div id="container" style="width:100%; height:600px;"></div>
	<button id="next"/>next</button>
  <script type="text/javascript">
    var pdata = {{ render_data | safe }};
		var chart = null;
    $(function () { 
      // split the data set into ohlc and volume
      var ohlc = [],
          volume = [],
          dataLength = pdata.length,
          // set the allowed units for data grouping
          groupingUnits = [[
              'week',                         // unit name
              [1]                             // allowed multiples
          ], [
              'month',
              [1, 2, 3, 4, 6]
          ]],
          i = 0;

      for (i; i < dataLength; i += 1) {
				ohlc.push([
						pdata[i][0], // the date
	          pdata[i][1], // open
	          pdata[i][2], // high
	          pdata[i][3], // low
	          pdata[i][4] // close
	      ]);

	      volume.push([
	          pdata[i][0], // the date
	          pdata[i][5] // the volume
	      ]);
      }

      // create the chart
      chart = Highcharts.stockChart('container', {
          rangeSelector: {
              selected: 1
          },
          title: {
              text: '{{ meta.name }} {{ meta.code }}'
          },
          yAxis: [{
              labels: {
                  align: 'right',
                  x: -3
              },
              title: {
                  text: 'Price'
              },
              height: '60%',
              lineWidth: 2,
              resize: {
                  enabled: true
              }
          }, {
              labels: {
                  align: 'right',
                  x: -3
              },
              title: {
                  text: 'Volume'
              },
              top: '65%',
              height: '35%',
              offset: 0,
              lineWidth: 2
          }],
          tooltip: {
              split: true
          },
          series: [{
              type: 'candlestick',
              name: '{{ meta.name }}',
              color: 'green',
						  lineColor: 'green',
						  upColor: 'red',
						  upLineColor: 'red',
              data: ohlc,
              dataGrouping: {
                  units: groupingUnits
              }
          }, {
              type: 'column',
              name: 'Volume',
              data: volume,
              yAxis: 1,
              dataGrouping: {
                  units: groupingUnits
              }
          }]
    });
  });
	
	$("#next").click(function() {
		var url = '/ta/fetch?';
		url += 'data_id=' + {{ meta.data_id }} + '&';
		url += 'start_date=' + + '&';
		url += 'offset=' + + '&';
		url += 'period=1d';
		$.getJSON(url, function(response) {
			if (response.status == 'ok') {
				chart.series[0].addPoint(response.data, true, true)
				chart.series[1].addPoint(response.data, true, true)
				chart.redraw();
			} else {
				alert('server error!')
			}
		});
	});
  </script>
</body>